@font-face {
    font-family: RobotoCondensed;
    src: url(./assets/roboto-condensed.light.ttf);
}

@font-face {
    font-family: EconomicaBold;
    src: url(./assets/economica-bold.ttf);
}

body{
    text-align: center;
    padding: 2.5%;
    font-family: 'RobotoCondensed';
    font-size: large;
}

h1, h2, h3, h4, h5 {
    font-family: 'EconomicaBold';
}

hr{
    margin-top: 40px;
    margin-bottom: 40px;
}

.track{
    height: 250px;
    width: 250px;
    position: relative;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
}

.track-img{
    height: 250px;
    width: 250px;
}

.artist-name{
    background-color: black;
    color: white;
    padding: 10;
    position: absolute;
    bottom: 0px;
    width: 250px;
}

.play-pause{
    display: inline-block;
    position: absolute;
    left: 105px;
    bottom: 90px;
    color: white;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    padding: 10px;
    opacity: 0.8;
}